@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<div class="centered login_container">
    <div class="login_header">Добро пожаловать.</div>
    <form asp-controller="Auth" asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Username">Как вас зовут?</label>
            <input asp-for="Username" class="form-control" />
            <small id="passwordHelpBlock" class="form-text text-muted">Имя пользователя должно состоять только из букв</small>
        </div>
        <button type="submit" style="width: 150px;" class="btn btn-default">Войти</button>
    </form>
</div>