﻿@{
    ViewData["Title"] = "Chat Room";
}
<div class="chat_container">
    <div class="chat_header">
        <h3 style="float:left; line-height: 1.4em">Пользователь: @HttpContextAccessor.HttpContext.User.Identity.Name</h3>
        <a class="btn btn-primary" style="float:right" asp-area="" asp-controller="Auth" asp-action="Logout">Выйти</a>
    </div>
    <div class="messages_block">
        <ul id="messagesList"></ul>
    </div>
    <div class="form-row message_form">
        <div class="col-xs-9 col-sm-10 col-md-10" style="padding:0; height: 100%">
            <input class="message_text" type="text" placeholder="Новое сообщение" id="messageText" style="resize:vertical" />
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2" style="padding:5px;">
            <button class="btn btn-primary" style="width:100%" type="button" id="sendButton" >Отправить</button>
        </div>
    </div>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>