﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h3{
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.messages_block{
    height:500px;
    overflow: auto;
}
.messages_block ul{
    list-style: none;
    padding: 0;
}
.messages_block ul li{
    padding: 5px;
}
.messages_block ul li:nth-child(even){
    background-color: #e5e5e5
}

.chat_container{
    border: 1px #929292 solid;
    margin: 50px 0;
    border-radius: 5px;
}

.chat_header {
    background-color: #929292;
    padding: 10px;
    color: #fff;
    border-bottom: 1px #929292 solid;
    overflow: hidden;
}

.message_form {
    height: 45px;
    overflow: hidden;
    border-top: 1px #929292 solid;
}

.message_text {
    border: none;
    height: 100%;
    padding: 8px 15px;
    background: none;
    width: 100%;
}
.send_button{
    border: 1px #959595 solid;
    /* height: 100%; */
    background-color: #929292;
    padding: 5px 10px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    background: none;
}

/* Login page */

.centered {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login_container {
    width: 400px;
    height: 200px;
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 10px;
    border: 1px #ccc solid;
}
.login_header {
    font-size: 18px;
    border-bottom: 1px #ccc solid;
    padding-bottom: 5px;
    margin: 10px 0;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
